@model NashGaming.Models.Gamer

@{
    ViewBag.Title = "Index";
}
<div ng-controller="profilecontroller">
    <div class="jumbotron">
        <h2>@Model.DisplayName</h2>
        <p>@Model.PSNID</p>
        @Html.ActionLink("Manage User Settings", "Index", "Manage")
    </div>

    <div>
        <h4>Team Invites</h4>
        @{ if (Model.TeamInvites != null)
            {
               <div ng-repeat="invite in myinvites" ng-if="!invite.Accepted">
                 <div id="teaminvitecontainerforinv" >
                    <h5>{{invite.TeamName}} has invited you to join their Squad</h5>
                    <button name="AcceptButton" id={{invite.TeamInviteID}} ng-click="acceptinvite(invite)">Accept</button>
                    <button name="DeclineButton" ng-click="declineinvite(invite)">Decline</button>
                </div>
               </div>      
            }
         }
    </div>

    <div ng-model="myteam">
        <h2>Team Name: {{myteam.TeamName}}</h2>
        <h5>Website: {{myteam.Website}}</h5>
        <h5>DateFounded: {{myteam.DateFounded}}</h5>
    </div>
</div>