@model IEnumerable<NashGaming.Models.League>
@{
    ViewBag.Title = "Leagues";
}

<div ng-controller="leaguecontroller">
<form class="form-group">
    <label for="Leagues">Select a League:</label>
    <select>
        <option></option>
        <option ng-repeat="league in leagues">{{league.LeagueName}}</option>
    </select>
</form>
</div>

